@import "tailwindcss";

body {
  @apply bg-gradient-to-b from-gray-900 to-gray-800;
  @apply text-gray-200;
  @apply font-sans antialiased;
  @apply min-h-screen;
  @apply flex flex-col;
  @apply items-center;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-progress {
  animation: progress 1.5s ease-in-out forwards;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}

.animate-shimmer {
  animation: shimmer 1s infinite linear;
}